<h1>View component invoked</h1>

<h3>Grid</h3>
<table>
	<thead>
		<tr>
			<th>Sl. no.</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<th>One</th>
		</tr>
		<tr>
			<th>2</th>
			<th>Two</th>
		</tr>
	</tbody>
</table>